<p>
  <strong>Name:</strong>
  <%= @display.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @display.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @display.department_name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @display.message %>
</p>
